.CarList-header {
  background-color: blue;
  height: 50pc;
  padding: 20px;
  color: white;
}

.DeleteIcon {
    color: red;
    size: medium;
}
.SaveIcon {
    color: red;
    size: small;
}
.CSVList {
    color: white;
}

.EditableCell {
    background=color: "#fafafa";
}